*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(134, 248, 242);
    position: relative;
}


.quote-box{
    background-color: aliceblue;
    width:40vw;
    height: 55vh;
    margin-top:10vh; 
    margin-left: 30vw;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 10px rgb(131, 128, 128);
    padding: 3%;
    text-align: center;
    font-size: 1rem;
}


h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

blockquote{
    font-size: 1.6em;
    height: 10vh;
    width: 40vw;
    margin-bottom: 20%;
}

blockquote::before,blockquote::after{
    content: '"';
}


hr{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    height: 0.1vh;
    border-radius: 20px;
    background-color: black;
    
}

button{
    width:15vw;
    padding: 8px;
    margin:10px;
    font-size: 1rem;
    background-color: rgba(44, 60, 71, 0.938);
    color: antiquewhite;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    position: static;

}
button:hover{
    background-color: rgb(0, 132, 255);
}


img{
    width: 15px;
    height: 15px;
    padding-right: 10px;

}